<div class="components">
  <div class="control-label">Attachments</div>

  <div class="row">
    <span></span>
    <div class="col-md-8 col-sm-10">
      <ul class="files-table">
        <li class="attachment-line" *ngFor="let attachment of attachments">
          <span class="attachment-name">
              {{attachment.attachmentName}}
          </span>
          <span class="add-remove-files-container">
              <span (click)="removeAttachment(attachment)" class="icon-block remove-attachment">
              <i class="fa fa-trash-o" aria-hidden="true"></i></span>
              <span (click)="downloadAttachment(attachment)" class="icon-block download-attachment">
              <i class="fa fa-cloud-download" aria-hidden="true"></i>
              </span>
          </span>
        </li>
      </ul>
      <span class="hidden-input">
       <input (change)="fileChangeEvent($event)" id="fileInput" #fileInput type="file"/>
</span>
      <button (click)="fileInput.click()" class="btn btn-default add-attachment">Add an attachment</button>
    </div>
  </div>
</div>
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Files are uploading, please wait.</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">

    <div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': 100/numberOfFilesToUpload + '%' }">
            {{numberOfFilesToUpload}}
          </div>
        </div>
      </div>
    </div>

  </div>

</ng-template>






