<div class="components">
  <div class="control-label">Customers details</div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <ul class="customer-details">
        <th class="col-sm-3 col-md-3">
          <li>Name:</li>
          <li>Fiscal Code:</li>
          <li>Date of birth:</li>
          <li>Address:</li>
          <li>Phone:</li>
        </th>
        <th class="col-sm-9 col-md-9">
          <li>{{customer.name}} {{customer.surname}}</li>
          <li>{{customer.fiscalCode}}</li>
          <li>{{customer.dateOfBirth | date:'shortDate'}}</li>
          <li>{{customer.address}}</li>
          <li>{{customer.phone}}</li>
        </th>
      </ul>
    </div>
  </div>
</div>
