<div class="components">
  <div *ngIf="inputLoan.loanId" class="control-label">Loan details</div>

  <div *ngIf="inputLoan.loanId" class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <form (focusout)="sendValidation()" #loanForm class="form-horizontal">
        <div class="form-group">
          <label class="control-label left col-sm-3">Loan type:</label>
          <div class="col-sm-8">
            <input readonly="readonly" value="{{changedLoan.loanType}}" type="text"
                   class="form-control input-field blocked-input"
                   name="type">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label left col-sm-3">Total amount:</label>
          <div class="col-sm-8">
            <input type="number" class="form-control input-field" [(ngModel)]="changedLoan.totalAmount" step="0.01"
                   required min="1" max="1000000000" name="amount">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label left col-sm-3">Rates:</label>
          <div class="col-sm-8">
            <input type="number" [(ngModel)]="changedLoan.rates" class="form-control input-field" min="1" max="100"
                   required name="rates">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
