<div class="container-fluid" style="padding-right: 0px">
  <div id="row-offcanvas-right" class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-10 col-sm-push-2" style="padding-left: 0px;">
      <right-header></right-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
    <div class="col-xs-6 col-sm-2 col-sm-pull-10 sidebar-offcanvas" id="sidebar" style="padding-left: 0px; padding-right: 0px;">
      <nav-component></nav-component>
    </div>
  </div>
</div>


