html,
body {
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .sidebar-offcanvas {
    position: absolute;
    width: 60%; /* 6 columns */
    display: none;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    display: block;
    left: 0;
    top: $mobile-header-height;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  #menu-button, .dashboard-header, .loans-unlimited, .account-wrapper, .logout-button-block, .account {
    height: $header-height !important;
  }
}

@media screen and (max-width: 767px) {
  #menu-button, .dashboard-header, .loans-unlimited, .account-wrapper, .logout-button-block, .account {
    height: $mobile-header-height !important;
  }
}

.nav-header {
  height: $header-height;
  background-color: #20222a;
  display: flex;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.nav-header, #nav-remove span {
  align-items: center;
}

#nav-remove {
  color: #feffff;
  padding-bottom: 4px;
}

.nav-header span {
  color: #fdffff;
  padding-left: 6%;
}

.nav-body {
  background-color: #343c44;
  height: calc(100vh - #{$header-height});
  color: #f9feff;
  li {
    display: flex;
    list-style: none;
    &:hover {
      background-color: #232933;
      text-decoration: none;
    }
    a {
      color: #f9feff;
      width: 100%;
      padding-top: 6px;
      padding-left: 5%;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    &:hover, &:active, &:focus, &:visited {
      padding-top: 6px;
      padding-left: 5%;
      text-decoration: none;
    }
  }
}

.search-block {
  margin-left: 10%;
  margin-right: 10%;
}

.active {
  //background-color: #232933;
  .menu-tab {
    background-color: #f15509;
  }
  &:after {
    clear: both;
  }
}

.menu-tab {
  width: 5%;
  height: 32px;
  display: inline-block;
}

#menu-button {
  width: 50px;
  height: $header-height;
  margin-right: 0px;
}

#nav-search-input {
  color: #8b9197;
  background-color: #343c44;
  border-radius: 0px;
  border: none;
  padding: 0px 0px;
  width: calc(100% - 20px);
  display: inline-block;
}

nav ul {
  padding-left: 0px;
}

#nav-search-clear {
  font-size: 15px;
  display: inline-block;
}

.search-block {
  padding-top: 8px;
  margin-bottom: 8px;
  border-bottom: solid #787e85;
  border-bottom-width: 1.5px;
  &:focus {
    background-color: red;
  }
}

.dashboard-header {
  height: $header-height;
  background-color: #ffffff;
}

.loans-unlimited {
  width: 30%;
  height: $header-height;
  background-color: #0c61b2;
  display: inline-flex;
  p {
    color: #fff;
    position: relative;
    transform: translate(0px, -25%);
    top: 50%;
    text-align: center;
    width: 100%;
  }
}

.account {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 10px;
  width: calc(100% - 60px);
  text-align: right;
}

.logout-button-block {
  display: inline-block;
  position: relative;
  vertical-align: top;
  float: inherit;
  width: 60px;
  height: $header-height;
  background-color: #f1f1f1;
  text-align: center;
  i {
    font-size: 16px;
    position: relative;
    top: 37%;
  }
}

.account-wrapper {
  float: right;
  width: 54%;
}
