@import 'consts';
@import 'navs';
@import 'colors';

.clearfix {
  zoom: 1;
}

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.left {
  text-align: left !important;
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.main-body > .row {
  margin: 2% 4%;
}

body {
  background-color: $background-color;
}

.form-group-tttt {
  width: 100%;
  height: 42px;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
  select {
    border: solid 1px $input-border-color;
    border-radius: 3px;
    font-size: 14px;
    color: gray;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      box-shadow: none;
      border: solid 1px grey;
    }
  }

  .select-side {
    pointer-events: none;
    color: #7a7a7a;

    &:before {
      border-left: solid 0.5px #f2f2f2;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 80%;
      width: 1px;
      margin-top: 10%;
      margin-bottom: 10%;
    }

    width: 40px;
    position: absolute;
    top: 0px;
    height: 100%;
    left: calc(100% - 40px);

    i {
      left: 30%;
      top: 12px;
    }
  }
}

.input-field {
  border-radius: 0px;
  height: calc(#{$input-height} - 2px);
  border: solid 1px $input-border-color !important;
}

.button {
  padding: 0px !important;
  line-height: 1;
  height: calc(#{$input-height} - 4px);
  position: relative;
  width: 100%;
  color: #fff;
  border-radius: 0px;
  top: 1px;
}

.light-blue-button {
  background-color: #0c77c6;
}

.dark-blue-button {
  background-color: #0e4b79;
}

.table-dashboard {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr:nth-of-type(even) {
    background: #dbdbdb;
  }
  td, th {
    padding: 6px;
    text-align: left;
    border: none !important;
  }
  th {
    color: #3e4143;
    background-color: #bababa;
    font-weight: bold;
    width: 20%;
  }
  td {
    color: #565656;
  }
  tr td:last-child > span {
    font-weight: 700;
    cursor: pointer;
  }
}

.icon-show {
  transform: rotate(-90deg);
}

.bold {
  font-weight: 700;
}

.files-table {
  padding-left: 0;
  & > li {
    list-style-type: none;
  }
  .attachment-line {
    display: flex;
    width: 100%;
    .attachment-name {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .add-remove-files-container {
      display: inline-flex;
      .remove-attachment {
        position: relative;
        background-color: #353b45;
        margin-right: 4px;
      }
      .download-attachment {
        background-color: #0b81dc;
      }
    }
  }
}

.icon-block {
  cursor: pointer;
  width: 37px;
  height: 28px;
  display: inline-block;
  position: relative;
  color: #fff;
  & > i {
    font-size: 17px;
    top: 6px;
    position: relative;
  }
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.add-attachment {
  width: 100%;
  background-color: $background-color;
  border-color: #909090;
  border-radius: inherit;
}

.hidden-input {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
  border: none;
  margin: 0;
  padding: 0;
}

.save-button {
  float: right;
  margin-right: 60px;
  width: 80px;
  height: 34px;
  background-color: #0782e1;
  color: #fff;
  border: none;
  font-weight: 700;
}

.blocked-input {
  background-color: $background-color !important;
  border: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 0px;
}

.components {
  margin-bottom: 10px;
}

.customer-details {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0px;
  & > th, li {
    padding: 0 0 !important;
    font-weight: 200;
  }
}



