<div class="main-body">
  <div class="row">
    <p>Loans</p>
    <p>The user should be able to filters the loans with respective button.</p>
  </div>

  <div class="row">

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group-tttt">
          <div class="select-side">
            <i class="glyphicon glyphicon-menu-down"></i>
          </div>
          <select [(ngModel)]="selectedType" class="form-control">
            <option value="" selected disabled hidden>Select loan type</option>
            <option>Automotive</option>
            <option>Customer</option>
            <option>Mortgage</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control input-field" placeholder="Enter Fiscal Code">
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="col-md-5 col-sm-6 col-xs-12">
        <button (click)="filterResults()" type="button" class="btn button light-blue-button">Filter Results</button>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <button routerLink="/step-one" type="button" class="btn button dark-blue-button">Request Loan</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-dashboard" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th>Customer</th>
          <th>Loan Type</th>
          <th>Total Amount</th>
          <th>Rates</th>
          <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of customersLoansService.customersAndLoans | async | loanTypeFilter:sendSelectedType">
          <td>{{item.customer.name}} {{item.customer.surname}}</td>
          <td>{{item.loanType}}</td>
          <td>{{item.totalAmount}}</td>
          <td>{{item.rates}}</td>
          <td><i class="glyphicon glyphicon-download-alt icon-show"></i><span routerLink='/details/{{item.loanId}}'>
            show</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

