<div class="main-body">
  <div class="row">
    <p>Details</p>
    <p>User is able to download/add/or remove an attachment and change the total ammount and rates number. </p>
  </div>

  <div class="row no-padding">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <loan-details (loanValidation)="getLoanValidation($event)"  #loanDetails *ngIf="loan" [loan]="loan"></loan-details>
      </div>
      <div class="col-md-5 col-sm-5">
        <attachments #attachmentsDetails [attachments]="attachments"></attachments>
      </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="row">
        <customer #customerDetails *ngIf="customer" [customer]="customer"></customer>
      </div>
    </div>

    <div class="col-md-10 col-sm-10">
      <div class="row">
        <button [disabled]="validation" class="btn button save-button" (click)="saveAll()">Save</button>
      </div>
    </div>

  </div>
</div>


