<div class="main-body">
  <div class="row">
    <p>Step One</p>
    <p>Predefined values, only numbers in total amount, digits only in rates, next redirect to step two.</p>
  </div>

  <div class="row no-padding">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <form #firstForm class="form-horizontal">
              <div class="form-group">
                <label class="control-label left col-sm-4">Name:</label>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]="customer.name" class="form-control input-field" maxlength="50"
                         required name="name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label left col-sm-4">Surname:</label>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]="customer.surname" class="form-control input-field" maxlength="50"
                         required name="surname">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label left col-sm-4">Fiscal Code:</label>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]="customer.fiscalCode" class="form-control input-field" minlength="13"
                         maxlength="13" required name="fiscalCode">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <form #secondForm class="form-horizontal">
              <div class="form-group">
                <label class="control-label left col-sm-4">Date of Birth:</label>
                <div class="col-sm-8">
                  <my-date-picker [(ngModel)]="customer.dateOfBirth" name="birth"
                                  [options]="myDatePickerOptions"></my-date-picker>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label left col-sm-4">Address:</label>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]="customer.address" class="form-control input-field"
                         maxlength="50" minlength="5" required name="address">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label left col-sm-4">Phone:</label>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]="customer.phone" class="form-control input-field"
                         [textMask]="{mask: telephoneMask}" required name="phone">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-10 col-xs-12">
        <div class="row">
          <button
            [disabled]="!firstForm.checkValidity() || !secondForm.checkValidity()"
            type="submit" class="btn button save-button" (click)="next()">Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


