<div class="main-body">
  <div class="row">
    <p>Step One</p>
    <p>Predefined values, only numbers in total amount, digits only in rates, next redirect to step two.</p>
  </div>

  <div class="row no-padding">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <form #form class="form-horizontal">
              <div class="form-group">
                <label class="control-label left col-sm-4">Loan type:</label>
                <div class="col-sm-8">
                  <div class="form-group-tttt">
                    <div class="select-side">
                      <i class="glyphicon glyphicon-menu-down"></i>
                    </div>
                    <select [(ngModel)]="loan.loanType" class="form-control" name="type" required>
                      <option value="" selected disabled hidden>Select loan type</option>
                      <option>Automotive</option>
                      <option>Customer</option>
                      <option>Mortgage</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label left col-sm-4">Total amount:</label>
                <div class="col-sm-8">
                  <input type="number" step="0.01" [(ngModel)]="loan.totalAmount" class="form-control input-field"
                         min="1" max="1000000000" required name="amount">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label left col-sm-4">Rates:</label>
                <div class="col-sm-8">
                  <input type="number" [(ngModel)]="loan.rates" class="form-control input-field"
                         min="1" max="100" required name="rates">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-xs-12">
        <div class="row">
          <button [disabled]="!form.checkValidity()" type="submit" class="btn button save-button" (click)="next()">Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


