<div class="main-body">
  <div class="row">
    <p>Details</p>
    <p>User is able to download/add/or remove an attachment and change the total ammount and rates number. </p>
  </div>

  <div class="row no-padding">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <loan-details #loanDetails *ngIf="loan" [loan]="loan"></loan-details>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <customer #customerDetails *ngIf="customer" [customer]="customer"></customer>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <ul class="customer-details">
              <th class="col-sm-3 col-md-3">
                <li>Loan type:</li>
                <li>Total amount:</li>
                <li>Rates:</li>
              </th>
              <th class="col-sm-9 col-md-9">
                <li>{{loan.loanType}}</li>
                <li>{{loan.totalAmount}}</li>
                <li>{{loan.rates}}</li>
              </th>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <attachments #attachmentsDetails></attachments>
      </div>
    </div>

    <div class="col-md-10 col-xs-12">
      <div class="row">
        <button type="submit" class="btn button save-button" (click)="saveAll()">Save</button>
      </div>
    </div>

  </div>
</div>


