<header>
  <div class="nav-header">
    <i (click)="openHideNav()" class="glyphicon glyphicon-remove" id="nav-remove"></i>
    <span>Navigation</span>
  </div>
  <div class="nav-body">
    <div class="search-block">
      <input type="text" id="nav-search-input" class="form-control " placeholder="Search">
      <i class="glyphicon glyphicon-search" id="nav-search-clear"></i>
    </div>
    <nav>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-tab"></span>
          <a routerLink="">My Account</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-tab"></span>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-tab"></span>
          <a>Transactions</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-tab"></span>
          <a>Incoming Operations</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-tab"></span>
          <a>Reset Password</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-tab"></span>
          <a>Income</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
