<div class="dashboard-header clearfix">
  <button id="menu-button" (click)="openHideNav()" type="button" class="pull-left btn btn-default visible-xs"
          data-toggle="offcanvas" aria-expanded="false"
          aria-controls="navbar">
    <i class="fa fa-navicon"></i>
  </button>

  <div class="loans-unlimited">
    <p>Loans Unlimited</p>
  </div>

  <div class="account-wrapper">
    <div class="account">
      <div>John Doe <i class="glyphicon glyphicon-menu-down"></i></div>
      <div>Business Account</div>
    </div>

    <div class="logout-button-block">
      <i class="fa fa-power-off" aria-hidden="true"></i>
    </div>
  </div>
</div>

